<h1>Articles</h1>

<p style='color:green;'><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th colspan="3">Liens</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Voir', article %></td>
        <td><%= link_to 'Modifier', edit_article_path(article) %></td>
        <td><%= link_to 'Supprimer', article, method: :delete, data: { confirm: 'Êtes-vous sûr ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nouvel article', new_article_path %>