= form_for [@article, @article.commentaires.build] do |f|
    %p
        = f.label :auteur
        %br
        = f.text_field :auteur
    %p
        = f.label :body, 'Commentaire'
        %br
        = f.text_area :body
    %p
        = f.submit 'Envoyer'